<body>
  <div class="desktop-1">
    <section class="infobar">
      <div class="item">
        <div class="icon">
          <img
            class="box-iso-icon"
            alt=""
            src="./public/icons/boxiso.svg"
            width="1.5rem"
            height="1.5rem"
          >
        </div>
        <div class="texts">
          <div class="title">Free Shipping</div>
          <div class="desc">Free Shipping for orders over £130</div>
        </div>
      </div>
      <div class="item1">
        <div class="icon1">
          <img
            class="dollar-icon"
            alt=""
            src="./public/icons/dollar.svg"
            width="1.5rem"
            height="1.5rem"
          >
        </div>
        <div class="texts1">
          <div class="title1">Money Guarantee</div>
          <div class="desc1">Within 30 days for an exchange.</div>
        </div>
      </div>
      <div class="item2">
        <div class="icon2">
          <img
            class="headset-help-icon"
            alt=""
            src="./public/icons/headsethelp.svg"
            width="1.5rem"
            height="1.5rem"
          >
        </div>
        <div class="texts2">
          <div class="title2">Online Support</div>
          <div class="desc2">24 hours a day, 7 days a week</div>
        </div>
      </div>
      <div class="item3">
        <div class="icon3">
          <img
            class="credit-card-icon"
            alt=""
            src="./public/icons/creditcard.svg"
            width="1.5rem"
            height="1.5rem"
          >
        </div>
        <div class="texts3">
          <div class="title3">Flexible Payment</div>
          <div class="desc3">Pay with Multiple Credit Cards</div>
        </div>
      </div>
    </section>
  </div>
</body>

<style>
  body {
    margin: 0;
    line-height: normal;
  }

  :root {
    /* fonts */
    --type16: Poppins;

    /* font sizes */
    --type16-size: 1rem;
    --font-size-xl: 1.25rem;

    /* Colors */
    --color-gray: rgba(0, 0, 0, 0.1);
    --basic-gray: #666;
    --basic-black: #000;

    /* Gaps */
    --gap-base: 1rem;
    --gap-5xs: 0.5rem;

    /* Paddings */
    --padding-21xl: 2.5rem;
    --padding-11xs: 0.125rem;
  }

  .box-iso-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .desc,
  .title {
    align-self: stretch;
    position: relative;
    line-height: 125%;
  }
  .desc {
    height: 1.25rem;
    font-size: var(--type16-size);
    color: var(--basic-gray);
    display: inline-block;
  }
  .item,
  .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    min-width: 10.5rem;
  }
  .item {
    flex-direction: row;
    gap: var(--gap-base);
    min-width: 17.375rem;
    max-width: 18.875rem;
  }
  .dollar-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .desc1,
  .title1 {
    align-self: stretch;
    position: relative;
    line-height: 125%;
  }
  .desc1 {
    font-size: var(--type16-size);
    color: var(--basic-gray);
  }
  .item1,
  .texts1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    min-width: 10.5rem;
  }
  .item1 {
    flex-direction: row;
    gap: var(--gap-base);
    min-width: 17.375rem;
    max-width: 18.875rem;
  }
  .headset-help-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
  }
  .icon2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .desc2,
  .title2 {
    align-self: stretch;
    position: relative;
    line-height: 125%;
  }
  .desc2 {
    font-size: var(--type16-size);
    color: var(--basic-gray);
  }
  .item2,
  .texts2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    min-width: 10.5rem;
  }
  .item2 {
    flex-direction: row;
    gap: var(--gap-base);
    min-width: 17.375rem;
    max-width: 18.875rem;
  }
  .credit-card-icon {
    height: 1.5rem;
    width: 1.5rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .desc3,
  .title3 {
    align-self: stretch;
    position: relative;
    line-height: 125%;
  }
  .desc3 {
    font-size: var(--type16-size);
    color: var(--basic-gray);
  }
  .texts3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
    min-width: 10.5rem;
  }
  .desktop-1,
  .infobar,
  .item3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .item3 {
    flex: 1;
    justify-content: flex-start;
    gap: var(--gap-base);
    min-width: 17.375rem;
    max-width: 18.875rem;
  }
  .desktop-1,
  .infobar {
    box-sizing: border-box;
  }
  .infobar {
    width: 90rem;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2.875rem 5rem;
    gap: 1.5rem;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--basic-black);
    font-family: var(--type16);
  }
  .desktop-1 {
    width: 100%;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    justify-content: center;
    padding: 22.687rem 1.25rem 32rem;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .infobar {
      padding-left: var(--padding-21xl);
      padding-right: var(--padding-21xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .title {
      font-size: var(--type16-size);
      line-height: 1.25rem;
    }
    .item {
      flex-wrap: wrap;
    }
    .title1 {
      font-size: var(--type16-size);
      line-height: 1.25rem;
    }
    .item1 {
      flex-wrap: wrap;
    }
    .title2 {
      font-size: var(--type16-size);
      line-height: 1.25rem;
    }
    .item2 {
      flex-wrap: wrap;
    }
    .title3 {
      font-size: var(--type16-size);
      line-height: 1.25rem;
    }
    .item3 {
      flex-wrap: wrap;
    }
  }
</style>

{% schema %}
{
  "name": "Featured Collection 1",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "target": "section",
  "settings": []
}
{% endschema %}
