<div style="text-align: center; background-color: #000000; color: #ffffff; padding: 10px;">
  <h1>{{ block.settings.primary_text }}</h1>
</div>

{% schema %}
{
  "name": "Prueba Section",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    {
      "type": "text",
      "id": "primary_text",
      "label": "Primary Text",
      "default": "Free Shipping"
    }
  ]
}
{% endschema %}
