<div style="background: red; color: white; padding: 5px">
  <h1>Conditional Extension</h1>
</div>

{% schema %}
{
  "name": "Non Conditional Extension",
  "target": "section",

  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
