<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->
<style>
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: #bbbb;
  }
</style>

<div class="main">
  <h1>Hola Conditional Extension</h1>
</div>

{% schema %}
{
  "name": "Conditional Extension",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}
