<div style="background-color: #000000;  padding: 10px;">
  <h1 style="color: #4fd">Hola AppMetafieldHasPlan</h1>
</div>

{% schema %}
{
  "name": "Tailwind Section :(",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    {
      "type": "text",
      "id": "my_header",
      "label": "Title Text",
      "default": "Revolutionary Features"
    },
    {
      "type": "text",
      "id": "my_description",
      "label": "Description Text",
      "default": "Provides advanced features like time tracking, integrating with third party apps calendar / Google drive, creating subtasks."
    }
  ]
}
{% endschema %}
