<div class="container">
  <div class="benefit">Benefit 1</div>
  <div class="benefit">Benefit 1</div>
  <div class="benefit">Benefit 1</div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(222.5px, 1fr)); /* Crea columnas de al menos 222.5px de ancho */
    gap: 10px; /* Espacio entre elementos */
  }

  .benefit {
    height: 59.1875px;
    background-color: #ff2;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* Padding horizontal para asegurar el espacio dentro del elemento */
  }
</style>

{% schema %}
{
  "name": "Benefits Section",
  "target": "section",
  "available_if": "{{ app.metafields.martinAppMetafield.hasPlan }}",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Header Text",
      "default": "Welcome to Our Store!"
    }
  ]
}
{% endschema %}
